<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AES 256 CBC Encryption in JavaScript</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.3.0/crypto-js.js"></script>
</head>
<body>

<script type="module">

    import CrytpoHandler from "./DS/cryptoHandler.js";

    const dkey = await CrytpoHandler.deriveKeyFrom("12", 256);
    const rkey = "86bbjpoefB9axjQ93Ok9AwmzVssCT7EOmx1r6iBxyEy2Z9HNiWoPqO+VvuDIyBLqqFj9KUBbJ4RTinbv";
    const ckey = await CrytpoHandler.genAESKey(256);
    
    console.log(rkey);
    
    //const dkey = await CrytpoHandler.deriveKeyFrom("ciao123", 256);

    const msg = "test msg";

    const obj = await CrytpoHandler.encrypt(msg, rkey);
    console.log(obj.ciphertext);

    const de = await CrytpoHandler.decrypt(obj.ciphertext, rkey, obj.iv)
    console.log(de)

</script>

</body>
</html>