#RewriteEngine on
#RewriteBase /cloud-secure

#RewriteRule ^h$ pages/index.php [L,NC]
#RewriteRule ^login$ pages/log.php [L,NC]
#RewriteRule ^signup$ pages/reg.php [L,NC]
#RewriteRule ^password_reset$ resources/password_reset/pass_reset.php [L,NC]
#RewriteRule ^private$ pages/pvt.php [L,NC]
#RewriteRule ^out$ pages/out.php [L,NC]

#RewriteRule ^password_reset/([a-zA-Z0-9]+)$ resources/password_reset/pass_reset.php?TKN=$1  [QSA]

<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

<Files README.md>
Order Allow,Deny
Deny from all
</Files>
